<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments.html :: header('Organization U Papdate Page')">
</head>
<body>
<header>
  <section th:include="fragments.html :: navbar"></section>
</header>
<main>
  <h1>Update Page</h1>
  <div class="container">
    <div class="row">
      <div class="col-10 mx-auto">
          <div class="modal-body">
            <form method="post" th:action="@{/organization/delete/{id}(id=${organization.id})}">
              <div class="form-group">
                <label for="book_name">Name</label>
                <input type="text" class="form-control" name="name" id="book_name" placeholder="${organization.name}">
              </div>
              <div class="form-group">
                <label for="book_author">Author</label>
                <input type="text" class="form-control" name="author" id="book_author" placeholder="$">
              </div>
              <div class="form-group">
                <label for="book_page_count">Page Count</label>
                <input type="number" class="form-control" name="pageCount" id="book_page_count" placeholder="0,1,2, ... ">
              </div>
              <button type="submit" class="btn btn-primary">Save</button>
            </form>
          </div>
      </div>
    </div>
  </div>
</main>
<footer>
  <section th:include="fragments.html :: js"></section>
</footer>
</body>
</html>