@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
.some{
    background:  #f8f9fa;
    height: 15%;
    width: 100%;
}
.col-6 h1{
    font-family: 'Inter', sans-serif;
    margin: 25% 0 0 10%;
    line-height: 50px;
}