<section th:fragment="home_header(title,link)">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.6.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{${link}}">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
          integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
          crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Red+Hat+Display&family=Rubik:wght@400;500;600;700&display=swap"
          rel="stylesheet">

</section>

<section th:fragment="js">
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.6.1/js/bootstrap.min.js"></script>
</section>

<section th:fragment="main_super">
    <main>
        <div class="menu-bar">
            <i class="fas fa-bars"></i>
        </div>
        <div class="logo">
            <img th:src="@{/imges/logo.png}" alt=""/>
        </div>
        <div class="link">
            <a th:href="@{/auth/profile}">Profile</a>
            <a th:href="@{/organization/list/}">Organization list</a>
            <a th:href="@{/logout}">Logout</a>
        </div>
    </main>
</section>
<section th:fragment="main_admin">
    <main>
        <div class="menu-bar">
            <i class="fas fa-bars"></i>
        </div>
        <div class="logo">
            <img th:src="@{/imges/logo.png}" alt=""/>
        </div>

        <div class="link">
            <a href="#">Profile</a>
            <a href="#">Project list</a>
            <a href="#">User list</a>
            <a th:href="@{/logout}">Logout</a>
        </div>
    </main>
</section>
<section th:fragment="main_user">
    <main>
        <div class="menu-bar">
            <i class="fas fa-bars"></i>
        </div>
        <div class="logo">
            <img th:src="@{/imges/logo.png}" alt=""/>
        </div>

        <div class="link">
            <a href="#">Profile</a>
            <a href="#">Task list</a>
            <a href="#">Member list</a>
            <a th:href="@{/logout}">Logout</a>
        </div>
    </main>
</section>


<section th:fragment="nav">
    <nav>
        <div class="input">
            <div>
                <i class="fas fa-search"></i>
            </div>
            <input type="text" placeholder="Search"/>
        </div>
        <div class="user-information">
            <div class="icon">
                <img th:src="@{/imges/bell.png}" alt=""/>
                <i class="far fa-envelope"></i>
            </div>
            <div class="user">
                <img th:src="@{/imges/useer.png}" alt=""/>
                <p>Azhar I.</p>
            </div>
        </div>
    </nav>
</section>
