<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
    <link rel="stylesheet" th:href="@{css/register.css}">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
          integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
          crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <div class="goBack" id="link">
        <a href="#">Back</a>
        <a href="#">Login</a>
    </div>
    <div class="login-text">
        <h3>Registratsiya</h3>
    </div>

    <div class="login-input">
        <input type="text" placeholder="Enter your Username"/>
        <input type="text" placeholder="Enter your Email"/>
        <input type="number" placeholder="Enter your Number"/>
        <input type="password" placeholder="Enter your password"/>
        <input type="password" placeholder="Confirm your password"/>
    </div>

    <div class="login-button">
        <button type="submit">Registratsiya</button>
    </div>
</div>
</body>
</html>